<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of channels</title>
    <link href="channel.html" rel="stylesheet">
    <style>
        body {background-color:  #ea825b ;}
        p {text-align: center;}
        b {text-align: center;}
        h1 {text-align: center; color: white;}
        h2 {text-align: center;}
    </style>
</head>
<body>

<h1>List of message channels</h1>

<ul>
    {% for channel in channels %}
        <div id="main-div" class="with-margins" style="text-align: center;"><a href="/show?channel={{ channel.endpoint | urlencode }}">{{ channel.name }}</a></div>
    {% endfor %}
</ul>

</body>
</html>