* {
    box-sizing: border-box;
}

body {
    background-color: #ea825b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
	width:50%;
	height:1200px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #7fea9b;
	border-bottom:2px solid #7fea9b;
}

#chat .message{
	padding:20px;
	color:#def380;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}

main footer{
	height:155px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:25%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}